<footer role="contentinfo">
  <div class="l-container">

    <div class="h-card">
      <div class="footer-find-us">
        <h4>Find Us</h4>
        <p class="h-adr p-adr">
          <span class="p-street-address">1558 Gordon Street</span>
          <span class="p-locality">Los Angeles,</span> <span class="p-region">CA</span> <span class="p-postal-code">90028</span>
        </p>
        <p class="p-tel">(801) 898-9481</p>
      </div>
      <div class="footer-contact">
        <h4>Contact Us</h4>
        <p class="u-email">barn@farmhouse.co</p>
        <p>@farmhouse</p>
      </div>
    </div>

    <div class="footer-mailing">
      <h4>Mailing List</h4>
      <form class="form light-form" action="">
        <label for="mailing-list">Stay up to date on news and events</label>
        <div class="form-single-field">
          <input id="mailing-list" type="email" />
          <input class="btn btn-b" type="submit" value="Go" />
        </div>
      </form>
    </div>

    <p class="footer-copyright">
      Copyright &copy; The Farmhouse, Inc. <span class="year"><%= current_year %></span>
    </p>

  </div>
</footer>
