<header role="banner">
  <div class="l-container">

    <a class="brand-logo" href="/">The Farmhouse</a>

    <div class="nav-wrapper">
      <nav class="nav-collapse" role="navigation">
        <ul class="nav-main">
          <li><a href="/about">About</a></li>
          <li><a href="/">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/">Photos</a></li>
          <li><a href="/">Shop</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </nav>

    </div> <!-- end .nav-wrapper -->
  </div> <!-- end .l-container -->
</header>
