<div class="hero has-hero-img">
  <img class="hero-img" src="/images/farmhouse-cropped.jpg" />
</div>


<main role="main">
  <div class="l-container">

    <div class="text-block">
      <h2 class="text-block-title">A Very Brief and Incomplete History of the Farmhouse</h2>
      <div class="text-block-content">
        <p>The Farmhouse was built in 1903 before Hollywood was Hollywood. It was once on 300 acres of avocado grove. What remains is the house, some small sliver of the once massive lot (albeit still a very good sized yard) and one massive eleventy-one year old avocado tree in the backyard. Also, in the backyard are meyer lemon, nectarine and guava trees. After a laundry list of owners and tenants, Shane and Civ moved in and turned this place into The Farmhouse. A place that's more than just a home.</p>
        <p>Since 2011, The Farmhouse has been home to 5 Farmhouse Confs, The Barn Talks series, a handful of photography/film/video shoot locations, an irregularly scheduled podcast, a rotating cast of roommates and stray cats, potlucks, heart breaks and head aches. Future plans for the space include: Portrait Days, Farmhouse Prom, Movie Nights, and so much more.</p>
      </div>
    </div> <!-- end .text-block -->
  </div> <!-- end .l-layout -->

  <div class="profile-grid ">
    <div class="l-container">

      <h2 class="heading-alt">Friends of the Farmhouse</h2>

      <ul class="profile-grid-profiles">

        <% @friends.each do |friend|  %>
          <li class="h-card">
            <%= img "/images/friends/#{friend['image']}", :alt => "#{friend['name']}" %>
            <p class="p-name"><%= friend['name'] %></p>
            <div class="social-links">
              <a href="http://twitter.com/<%= friend['twitter'] %>" class="icon-twitter-circle">Twitter</a>
              <a href="http://instagram.com/<%= friend['instagram'] %>" class="icon-instagram-circle">Instagram</a>
            </div>
          </li>
        <% end %>

      </ul>

    </div> <!-- end .l-container -->
  </div> <!-- end .profile-grid -->

</main>
