<div class="hero has-hero-img">
  <div class="map">
    <%= img google_map(@map_options), :alt => "Map of The Farmhouse" %>
  </div>
</div>

<main role="main" class="has-rows">

  <div class="l-layout-b">
    <div class="l-container">

      <div class="content">
        <div class="h-card">
          <h2 class="btn-a">Find Us</h2>
          <p class="p-name">The Farmhouse</p>
          <p class="h-adr p-adr">
            <span class="p-street-address">1558 Gordon Street</span>
            <span class="p-locality">Los Angeles,</span> <span class="p-region">CA</span> <span class="p-postal-code">90028</span>
          </p>
          <p class="p-tel">(801) 898-9481</p>
        </div>

        <div class="social-links link-list">
          <a class="icon-twitter" href="http://twitter.com/farmhouse">Twitter</a>
          <a class="icon-facebook" href="http://facebook.com/farmhouseco">Farmhouse</a>
          <a class="icon-instagram" href="http://instagram.com/farmhousela">Instagram</a>
          <a class="icon-github" href="http://github.com/farmhouse">Farmhouse</a>
        </div>
      </div> <!-- end .col -->

      <%= img "images/avocado-tree.jpg", :alt => "Avocado Tree" %>

    </div> <!-- end .l-container -->
  </div> <!-- end .find-us -->

  <div class="l-layout-c">
    <div class="l-container">
      <div class="col-1">
        <h2 class="btn-a">Say Hello</h2>
        <p>Questions, comments, suggestions, editorial corrections, death threats, love letters, deathbed confessions, insider whistle blowing, vegan cookie recipes, high fives, bike rides, chilling exposes, or media requests?</p>
        <p>Email us → barn@farmhouse.co</p>
      </div> <!-- end .col-1 -->

      <div class="col-2">
        <form class="form" action="" method="post">
          <div class="form-field">
            <label for="name">Name*</label>
            <input type="text" name="name" id="name" placeholder="Name*" />
          </div>
          <div class="form-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email*" />
          </div>
          <div class="form-field">
            <label for="phone">Email</label>
            <input type="tel" name="phone" id="phone" placeholder="Phone" />
          </div>
          <div class="form-field">
            <label for="url">Url</label>
            <input type="url" name="url" id="url" placeholder="Url" />
          </div>
          <label for="message">Message</label>
          <textarea name="message" id="message" placeholder="Message"></textarea>
          <input class="btn-d" type="submit" value="Ship It!" />
        </form>
      </div>
    </div> <!-- end .l-container -->
  </div> <!-- end .l-layout-c -->
</main>
