// *************************************
//
//   Components
//
// *************************************

// -------------------------------------
//   Features
// -------------------------------------

.feature {
  @include respond-to($l-max-small, max-width) {
    margin-top: 4em;
    &:first-child {
      margin-top: 0;
    }
  }
  @include respond-to($l-min-small) {
    @include span-columns(4);
  }
  > a {
    text-decoration: none;
  }
  h3 {
    @extend .t-h5;
    line-height: $base-lineHeight;
  }
  p {
    font-family: $alt-fontFamily;
  }
  img {
    display: block;
    width: 100%;
  }
}


// -------------------------------------
//   H-Card
// -------------------------------------

.h-card p {
  margin: 0;
}
.p-street-address {
  display: block;
}

[role=main] .h-card {
  margin-bottom: 2em;
  p {
    font-family: $alt-fontFamily;
    font-size: em(21);
  }
  .p-tel {
    margin-top: 1em;
  }
}


// -------------------------------------
//   Blog Profile
// -------------------------------------

.blog-profile {
  @include row(table);
  font-family: $alt-fontFamily;
  margin-bottom: 3em;
  p {
    margin-bottom: .5em;
  }
  .profile-img {
    @include span-columns(4);
    @include pad(0px 0px 0px 0px);
    img {
      width: 100%;
    }
  }
  .profile-body {
    @include span-columns(8);
    @include pad(0px 0px 0px $l-half-whitespace);
    vertical-align: top;
  }
}
.blog-contribution {
  @extend .t-xsmall;
}


// -------------------------------------
//   Profile Grid
// -------------------------------------

.profile-grid {
  background: $xlight-grey;
  text-align: center;
}
.profile-grid-title {
  @extend .t-h4;
  border: 2px solid $dark-grey;
  display: inline-block;
  margin: 2em 0;
  padding: .75em;
  @include respond-to($l-min-small) {
    padding: .75em 5em;
  }
  @include respond-to($l-min-medium) {
    font-size: 1.777em;
  }
}
.profile-grid-profiles {
  @include row();
  text-align: left;
  .h-card {
    margin-bottom: 3em;
    @media (max-width: $l-max-small) {
      @include span-columns(6);
      &:nth-child(2n) {
        @include omega;
      }
    }
    @media (min-width: $l-min-small) and (max-width: $l-max-medium) {
      @include span-columns(4);
      &:nth-child(3n) {
        @include omega;
      }
    }
    @media (min-width: $l-min-medium) {
      @include span-columns(3);
      &:nth-child(4n) {
        @include omega;
      }
    }
  }
  img {
    margin-bottom: 1em;
  }
  .p-name {
    font-family: $alt-fontFamily;
    text-transform: uppercase;
  }
  .icon {
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
  }
  @include respond-to($l-min-small) {
    .p-name {
      float: left;
      padding-top: .5em;
    }
    .social-links {
      float: right;
    }
  }
}


// -------------------------------------
//   Text Block
// -------------------------------------

.text-block {
  text-align: center;
  padding-bottom: 3em;
}
.text-block-title {
  @extend .t-h4;
  border-bottom: 1px solid $dark-grey;
  display: inline-block;
  margin-bottom: 2em;
  padding-bottom: .5em;
}
.text-block-content {
  text-align: left;
  p {
    font-size: 1.14285714em; // 16px / 14px
    line-height: 1.5;
  }
  @include respond-to($l-min-small) {
    @include row();
    p {
      @include span-columns(6);
      &:last-child {
        @include omega;
      }
    }
  }
}


// -------------------------------------
//   Full Width Map
// -------------------------------------

.map {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 50%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    .no-csstransforms & {
      max-width: 100%;
      max-height: 100%;
      width: auto;
    }
    .csstransforms & {
      @include transform(translateY(-50%));
      top: 50%;
    }
  }
}


// -------------------------------------
//   Link List
// -------------------------------------

.link-list {
  a {
    margin-left: $l-half-whitespace;
    &:first-of-type {
      margin-left: 0;
    }
  }
}


// -------------------------------------
//   Big Tiles With Overlays
// -------------------------------------

.big-tiles {
  @include clearfix;
}
.big-tile {
  @include box-sizing(border-box);
  position: relative;
  text-align: center;
  @include respond-to($l-min-small) {
    float: left;
    width: 50%;
  }
}
.big-tile-link {
  @include transition(background .30s ease-in-out);
  background-color: rgba($white, .8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &:focus,
  &:hover {
    background-color: rgba($white, .9);
  }
  .big-tile:nth-child(1) & {
    background-color: rgba($highlight, .8);
    &:focus,
    &:hover {
      background-color: rgba($highlight, .9);
    }
  }
  .big-tile:nth-child(3) & {
    background-color: rgba(#538282, .8);
    &:focus,
    &:hover {
      background-color: rgba(#538282, .9);
    }
  }
  .big-tile:nth-child(4) & {
    background-color: rgba(#ea5e28, .8);
    &:focus,
    &:hover {
      background-color: rgba(#ea5e28, .9);
    }
  }
}
.big-tile-text {
  @include transform(translateY(-50%));
  color: $alt-color;
  font-family: $alt-fontFamily-bold;
  font-size: em(42);
  letter-spacing: .25em;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  em {
    display: block;
    font-family: $base-fontFamily;
    font-size: em(24, 42);
    letter-spacing: 0.1em;
    text-transform: none;
  }
  @include between($l-min-small, $l-max-medium) {
    font-size: em(32);
    em {
      font-size: em(18, 32);
    }
  }
  @include respond-to($l-min-medium) {
    font-size: em(50);
    em {
      font-size: em(30, 50);
    }
  }
}
.big-tile.no-image {
  background-color: $alt-background;
  text-align: left;
  .big-tile-text {
    @include box-sizing(border-box);
    font-size: em(21);
    color: $white;
    font-family: $base-fontFamily;
    letter-spacing: normal;
    text-transform: none;
    padding: 0 $l-double-whitespace;
    p {
      margin-bottom: 2em;
    }
    @include between($l-min-small, $l-max-medium) {
      font-size: em(16);
      padding: 0 $l-half-whitespace;
    }
    @include respond-to($l-max-small, max-width) {
      @include transform(translateY(0));
      position: static;
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
  @include respond-to($l-min-small) {
    &:before {
      content: "";
      display: block;
      margin-top: 65%;
    }
  }
}
