// *************************************
//
//   Components
//
// *************************************

// -------------------------------------
//   Features
// -------------------------------------

.feature {
  @include respond-to($l-max-small, max-width) {
    margin-top: 4em;
    &:first-child {
      margin-top: 0;
    }
  }
  @include respond-to($l-min-small) {
    @include span-columns(4);
  }
  > a {
    text-decoration: none;
  }
  h3 {
    @extend .t-h5;
    line-height: $base-lineHeight;
  }
  p {
    font-family: $alt-fontFamily;
  }
  img {
    display: block;
    width: 100%;
  }
}


// -------------------------------------
//   H-Card
// -------------------------------------

.h-card p {
  margin: 0;
}
.p-street-address {
  display: block;
}

[role=main] .h-card {
  margin-bottom: 2em;
  p {
    font-family: $alt-fontFamily;
    font-size: em(21);
  }
  .p-tel {
    margin-top: 1em;
  }
}


// -------------------------------------
//   Blog Profile
// -------------------------------------

.blog-profile {
  @include row(table);
  font-family: $alt-fontFamily;
  margin-bottom: 3em;
  p {
    margin-bottom: .5em;
  }
  .profile-img {
    @include span-columns(4);
    @include pad(0px 0px 0px 0px);
    img {
      width: 100%;
    }
  }
  .profile-body {
    @include span-columns(8);
    @include pad(0px 0px 0px $l-half-whitespace);
    vertical-align: top;
  }
}
.blog-contribution {
  @extend .t-xsmall;
}


// -------------------------------------
//   Profile Grid
// -------------------------------------

.profile-grid {
  background: $xlight-grey;
  text-align: center;
}
.profile-grid-title {
  @extend .t-h4;
  border: 2px solid $dark-grey;
  display: inline-block;
  margin: 2em 0;
  padding: .75em;
  @include respond-to($l-min-small) {
    padding: .75em 5em;
  }
  @include respond-to($l-min-medium) {
    font-size: 1.777em;
  }
}
.profile-grid-profiles {
  @include row();
  text-align: left;
  .h-card {
    margin-bottom: 3em;
    @media (max-width: $l-max-small) {
      @include span-columns(6);
      &:nth-child(2n) {
        @include omega;
      }
    }
    @media (min-width: $l-min-small) and (max-width: $l-max-medium) {
      @include span-columns(4);
      &:nth-child(3n) {
        @include omega;
      }
    }
    @media (min-width: $l-min-medium) {
      @include span-columns(3);
      &:nth-child(4n) {
        @include omega;
      }
    }
  }
  img {
    margin-bottom: 1em;
  }
  .p-name {
    font-family: $alt-fontFamily;
    text-transform: uppercase;
  }
  .icon {
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
  }
  @include respond-to($l-min-small) {
    .p-name {
      float: left;
      padding-top: .5em;
    }
    .social-links {
      float: right;
    }
  }
}


// -------------------------------------
//   Text Block
// -------------------------------------

.text-block {
  text-align: center;
  padding-bottom: 3em;
}
.text-block-title {
  @extend .t-h4;
  border-bottom: 1px solid $dark-grey;
  display: inline-block;
  margin-bottom: 2em;
  padding-bottom: .5em;
}
.text-block-content {
  text-align: left;
  p {
    font-size: 1.14285714em; // 16px / 14px
    line-height: 1.5;
  }
  @include respond-to($l-min-small) {
    @include row();
    p {
      @include span-columns(6);
      &:last-child {
        @include omega;
      }
    }
  }
}


// -------------------------------------
//   Full Width Map
// -------------------------------------

.map {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 50%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    .no-csstransforms & {
      max-width: 100%;
      max-height: 100%;
      width: auto;
    }
    .csstransforms & {
      @include transform(translateY(-50%));
      top: 50%;
    }
  }
}


// -------------------------------------
//   Link List
// -------------------------------------

.link-list {
  a {
    margin-left: $l-half-whitespace;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
