// *************************************
//
//   Icons
//
// *************************************

[class*=icon-] {
  @extend %image-replace;
  display: inline-block;
}

.icon-web,
.icon-twitter-square,
.icon-instagram-square {
  background-size: cover;
  height: 35px;
  width: 35px;
}

.icon-twitter,
.icon-instagram,
.icon-facebook,
.icon-github,
.icon-twitter-circle,
.icon-instagram-circle {
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-twitter-circle,
.icon-instagram-circle {
  height: 30px;
  width: 30px;
}

.icon-twitter,
.icon-instagram,
.icon-facebook,
.icon-github {
  height: 24px;
}

.icon-web {
  background-image: url(/images/icons/icon-globe.svg);
}

.icon-twitter {
  background-image: url(/images/icons/icon-twitter.svg);
  width: 30px;
}

.icon-twitter-square {
  background-image: url(/images/icons/icon-twitter-square.svg);
}

.icon-twitter-circle {
  background-image: url(/images/icons/icon-twitter-circle.svg);
}

.icon-instagram {
  background-image: url(/images/icons/icon-instagram.svg);
  width: 25px;
}

.icon-instagram-square {
  background-image: url(/images/icons/icon-instagram-square.svg);
}

.icon-instagram-circle {
  background-image: url(/images/icons/icon-instagram-circle.svg);
}

.icon-facebook {
  background-image: url(/images/icons/icon-facebook.svg);
  width: 12px;
}

.icon-github {
  background-image: url(/images/icons/icon-github.svg);
  width: 25px;
}
