// *************************************
//
//   Navigaiton
//
// *************************************

// -------------------------------------
//   Mobile Nav Menu
// -------------------------------------

@media (max-width: $l-max-medium) {
  .nav-collapse ul {
    width: 100%;
    display: block;
    list-style: none;
  }

  .nav-collapse li {
    width: 100%;
    display: block;
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  .nav-collapse.opened {
    max-height: 9999px;
  }

  .nav-collapse.disable-pointer-events {
    pointer-events: none !important;
  }

  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

@media screen and (min-width: $l-min-medium) {
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


// -------------------------------------
//   Header Navigation
// -------------------------------------

.nav-wrapper {
  position: relative;
  width: 100%;
}

.nav-toggle {
  @include hide-text;
  @include position(absolute, -5px 0px 0 0);
  background-image: url(/images/brand-icon-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 17px;
  z-index: 100;
  .opened + & {
    @include animation(wobble 1.0s ease-out);
    @include animation-fill-mode(forwards);
  }
}

[role=navigation] {
  @include respond-to($l-max-medium, max-width) {
    clear: left;
    left: percent(-$base-whitespace, $l-site-width);
    position: relative;
    width: #{$base-whitespace / $l-site-width * 100 * 2 + 100}#{"%"};
  }
  @include respond-to($l-min-medium) {
    float: right;
  }
}

.nav-main {
  @include respond-to($l-max-medium, max-width) {
    padding-top: 1em;
    text-align: center;
    li {
      border-top: 1px solid rgba($white, .3);
    }
    a {
      display: block;
      padding: 1em 0;
      text-shadow: 0 1px 0 rgba($black, 0.50);
    }
    li:last-child a {
      padding-bottom: 0;
    }
  }
  @include respond-to($l-min-medium) {
    li,
    a {
      display: inline-block;
    }
    li {
      padding: 0 .5em;
      &:last-child {
        padding-right: 0;
      }
    }
    a {
      @include transition(border-color 0.3s ease-in, color 0.3s ease-in);
      border-bottom: 5px solid transparent;
      color: rgba($base-header-color, 0.80);
      padding: 0.5em .5em 0.85em;
      &:hover,
      &:focus {
        border-color: $highlight;
        color: rgba($base-header-color, 1.00);
      }
    }
  }
  @include respond-to($l-min-large) {
    li {
      padding: 0 1em;
    }
    a {
      padding: 1em 1em 0.85em;
    }
  }
}
