// *************************************
//
//   Base
//
// *************************************

html {
  font-size: $base-fontSize;
  @include respond-to($l-min-xlarge) {
    font-size: 1.125em;
  }
}

body {
  background: $base-background;
  color: $base-color;
  font-family: $base-fontFamily;
  font-size: 100%;
  line-height: $base-lineHeight;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

table {
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
