// *************************************
//
//   Layout
//
// *************************************

// -------------------------------------
//   Container
// -------------------------------------

.l-container {
  @include outer-container;
  padding: 0 percent($base-whitespace, $l-site-width);
  @include respond-to($l-site-width + 2 * $base-whitespace) {
    padding: 0;
  }
}


// -------------------------------------
//   Utilities
// -------------------------------------

%l-pullLeft {
  float: left;
}

%l-pullRight {
  float: right;
}

%l-inline {
  display: inline-block;
}
