// *************************************
//
//   Typography
//
// *************************************

// -------------------------------------
//   Headings
// -------------------------------------

h1, h2, h3, h4 {
  @extend %t-shout;
  color: $base-color;
  font-family: $alt-fontFamily-medium;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}

h1,
%t-h1 {
  font-family: $alt-fontFamily-bold;
  font-size: 3.157em;
  margin-top: 0;
}

h2,
%t-h2 {
  font-size: 2.369em;
}

h3,
%t-h3 {
  font-size: 1.777em;
}

h4,
%t-h4 {
  font-size: 1.333em;
}

small,
%t-small {
  font-size: 0.75em;
}

%t-shout,
.t-shout {
  text-transform: uppercase;
}

.t-lead {
  @extend %t-h4;
  line-height: 1.75;
  @include respond-to($l-min-small) {
    font-size: 1.5em;
  }
}


// -------------------------------------
//   Links
// -------------------------------------

a {
  color: $base-link-color;
  text-decoration: underline;
  &:focus,
  &:hover {
    color: $base-hover-color;
  }
}
