// *************************************
//
//   Banner
//
// *************************************

[role=banner] {
  @extend %t-shout;
  @include position(fixed, 0px 0 0 0px);
  background: rgba($alt-background, 0.60);
  border-bottom: 1px solid rgba($alt-background, 0.30);
  box-shadow: 0 2px 3px rgba($alt-background, 0.30);
  font-family: $alt-fontFamily;
  padding: 1em 0;
  width: 100%;
  z-index: 100;
  @include respond-to($l-min-medium) {
    padding-top: 1.15em;
    padding-bottom: 0;
  }
  @include respond-to($l-min-large) {
    padding-top: 2.5em;
  }
  a {
    color: $white;
    text-decoration: none;
  }
}

.brand-logo {
  @include hide-text;
  background-image: url(../img/img-logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 20px;
  line-height: 1;
  width: 175px;
  @include respond-to($l-min-medium) {
    height: 25px;
    width: 268px;
  }
  @include respond-to($l-min-large) {
    height: 30px;
    width: 360px;
  }
}