// *************************************
//
//   Buttons
//
// *************************************

.btn {
  @extend %t-shout;
  display: inline-block;
  font-family: $alt-fontFamily-medium;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

.btn-a {
  @extend %t-h4;
  @include transition(color 0.30s ease, border-color 0.30s ease);
  border: 2px solid $highlight;
  color: $highlight;
  padding: .75em 1em;
  @include respond-to($l-min-small) {
    font-size: 1.5em;
  }
  &:hover {
    border-color: $xhighlight;
    color: $xhighlight;
  }
}

.btn-b {
  background: $white;
  border: 1px solid $white;
  color: $alt-color;
  padding: .25em .75em .15em;
  text-align: center;
}
