// *************************************
//
//   Icons
//
// *************************************

.icon {
  @extend %image-replace;
  display: inline-block;
}

.icon-web,
.icon-twitter,
.icon-instagram {
  background-size: cover;
  height: 35px;
  width: 35px;
}

.icon-twitter-alt,
.icon-instagram-alt {
  background-size: cover;
  height: 30px;
  width: 30px;
}

.icon-web {
  background-image: url(../img/icon-globe.svg);
}

.icon-twitter {
  background-image: url(../img/icon-twitter.svg);
}

.icon-twitter-alt {
  background-image: url(../img/icon-twitter-alt.svg);
}

.icon-instagram {
  background-image: url(../img/icon-instagram.svg);
}

.icon-instagram-alt {
  background-image: url(../img/icon-instagram-alt.svg);
}
