// *************************************
//
//   Page Parts
//
// *************************************

// -------------------------------------
//   Header
// -------------------------------------

[role=banner] {
  @extend .t-shout;
  @include position(fixed, 0px 0 0 0px);
  background: rgba($alt-background, 0.60);
  box-shadow: 0 2px 3px rgba($alt-background, 0.30);
  font-family: $alt-fontFamily;
  padding: 1em 0;
  width: 100%;
  z-index: 100;
  @include respond-to($l-min-medium) {
    padding-top: 1.15em;
    padding-bottom: 0;
  }
  @include respond-to($l-min-large) {
    padding-top: 2.5em;
  }
  a {
    color: $white;
    text-decoration: none;
  }
}

.brand-logo {
  @include hide-text;
  background-image: url(../img/brand-logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 14px;
  line-height: 1;
  width: 180px;
  @include respond-to($l-min-medium) {
    height: 21px;
    width: 270px;
  }
  @include respond-to($l-min-large) {
    height: 28px;
    width: 360px;
  }
  @include respond-to($l-min-xlarge) {
    height: 35px;
    width: 450px;
  }
}


// -------------------------------------
//   Footer
// -------------------------------------

[role=contentinfo] {
  background: $alt-background;
  font-family: $alt-fontFamily;
  font-size: .92857143em;
  padding-top: 2em;
  h4 {
    @extend %t-h5;
    color: $light-grey;
    margin-top: 0;
  }
  p,
  label,
  .btn,
  #{$all-text-inputs} {
    @extend .t-small;
  }
  p,
  label {
    color: $white;
  }
}
.footer-find-us {
  @include span-columns(8);
  background: url(../img/brand-icon-white.svg) no-repeat;
  background-size: contain;
  padding-left: 80px;
}
.footer-contact {
  @include span-columns(4);
}

.footer-mailing {
  @include span-columns(12);
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer-copyright {
  @include span-columns(12);
  @extend .t-shout;
  font-family: $alt-fontFamily-medium;
  text-align: right;
}
@media screen and (min-width:$l-min-small) {
  [role=contentinfo] .h-card {
    @include span-columns(7);
  }
  .footer-mailing {
    @include span-columns(5);
    @include omega();
    margin-top: 0;
  }
}
@media screen and (min-width: 1150px) {
  [role=contentinfo] .h-card {
    @include span-columns(5);
  }
  .footer-mailing {
    @include span-columns(3);
  }
  .footer-copyright {
    bottom: 0;
    position: absolute;
    right: percent($base-whitespace, $l-site-width);
  }
}
