// *************************************
//
//   Layout
//
// *************************************

// -------------------------------------
//   Container
// -------------------------------------

.l-container {
  @include box-sizing(content-box);
  @include outer-container;
  padding: 0 percent($base-whitespace, $l-site-width);
  position: relative;
  @include respond-to($l-max-small, max-width) {
    padding: 0 percent($base-whitespace, $l-min-small);
  }
}

[role=main],
[role=complementery] {
  padding-top: 2em;
  padding-bottom: 2em;
  &.has-rows {
    padding: 0;
  }
}

.l-row {
  @include row();
}

.l-half {
  @include span-columns(6);
  &:last-child {
    @include omega;
  }
}


// -------------------------------------
//   Layouts
// -------------------------------------

// 2 Column, Sidebar Right (Blog)
.l-layout-a {
  @include respond-to($l-min-medium) {
    [role=main] {
      @include span-columns(8);
    }
    [role=complementery] {
      @include span-columns(4);
    }
  }
  @include respond-to($l-min-large) {
    [role=main] {
      @include span-columns(9);
    }
    [role=complementery] {
      @include span-columns(3);
    }
  }
}


// 2 columns, text on left,
// image filling rest of space (Contact)
.l-layout-b {
  position: relative;
  overflow: hidden;
  .l-container {
    position: static;
  }
  .content {
    padding: 2em 0;
  }
  @include respond-to($l-max-small, max-width) {
    .img-full {
      margin-left: -6%;
      width: 112%;
      img {
        border-top: 5px solid $highlight;
      }
    }
  }
  @include respond-to($l-min-small) {
    .content {
      @include span-columns(5);
      padding: 5em 0;
    }
    .img-full {
      @include shift(5);
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        border-left: 5px solid $highlight;
        border-top: none;
        min-height: 100%;
        width: auto;
        min-width: 100%;
        .csstransforms & {
          @include transform(translateY(-50%));
          position: absolute;
          top: 50%;
        }
      }
    }
  }
}


// 2 columns, grey background (Contact)
.l-layout-c {
  background-color: $xlight-grey;
  padding: 2em 0;
  @include respond-to($l-min-medium) {
    padding: 5em 0;
    .col-1 {
      @include span-columns(4);
      font-size: em(21);
    }
    .col-2 {
      @include span-columns(7);
      @include shift(1);
    }
  }
}



// -------------------------------------
//   Utilities
// -------------------------------------

%l-pullLeft {
  float: left;
}

%l-pullRight {
  float: right;
}

%l-inline {
  display: inline-block;
}
